.sep {
    width: 90%;
    display: block;
    border-bottom: 1px solid lightgrey;
}

.jobdates {
    color: gray;
    font-size: 14px;
}

/* .sidebar-about h2 {
    margin-bottom: 50px;
    margin-top: 50px;
} */

/* .sidebar-about p {
    margin-bottom: 50px;
} */

.result-title a { text-decoration: none; }
.result-title a:hover { text-decoration: underline; }
.result-preview { color: #808080; }
.resultCount { color: #808080; }
.result-query { font-weight: bold; }
#lunrSearchForm { margin-top: 1em; }

#lunrSearchForm {
    margin: auto;
    text-align: center;
}

#searchbox {
    height: 24px;
    width: 90%;
    color: lightgray;
    border-radius: 4px;
    border: 0;
    padding: 8px;
    -webkit-appearance: none;
}

#searchbox:focus {
  border: 2px solid #0ea5e9;
}

.center-parent {
    width: 100%;
    text-align: center;
}
.center-child {
    display: inline-block;
}
